.navbar {
    padding: 0 20px;
    margin-bottom: 40px;
    
}
.navbar__profileLink {
 display: block;
 &:hover {
     background: none;
 }
}

img.navbar__avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
}

.navbar__search-li {
    width: 400px;
    margin-right: 15px;
   input.navbar__search {
    color: #ffffff;
    border-bottom: 1px solid #fff;
   }
}
.registration,
.login {
    margin-top: 80px;
}

.logout {
    cursor: pointer;
}